*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Shadows Into Light", serif;
}
